#{@user.full_name}, thank you for registering for #{@events.pluck(:name).to_sentence}. This message is receipt that it was accepted by the system. If you have any questions, please contact the Directors at directors@terresrising.com.

Thank you,

The Directors
