=form_for [:staff, @component] do |f|
  .form-inputs
    %fieldset
      =render partial: "text_field_with_errors", locals: {attribute: :name, form: f, model: @component}
    .row
      .small-12.medium-6.large-3.columns
        %fieldset
          =f.label :code, "Code"
          =f.text_field :code
      .small-12.medium-6.large-3.columns
        %fieldset
          =f.label :level, "Level"
          =f.number_field :level, in: 0..4
      .small-12.medium-6.large-3.columns
        %fieldset
          =f.label :category, "Type"
          =f.select :category, options_for_select(Ingredient.enum_collection(:categories), @component.category)
      .small-12.medium-6.large-3.columns
        %fieldset
          =f.label :rarity, "Rarity"
          =f.select :rarity, options_for_select(Ingredient.enum_collection(:rarities), @component.rarity)
    .row
      .small-12.medium-3.columns
        %fieldset
          =f.label :process_extraction, "Extraction"
          =f.text_field :process_extraction
      .small-12.medium-3.columns
        %fieldset
          =f.label :process_calcination, "Calcination"
          =f.text_field :process_calcination
      .small-12.medium-3.columns
        %fieldset
          =f.label :process_dissolution, "Dissolution"
          =f.text_field :process_dissolution
      .small-12.medium-3.columns
        %fieldset
          =f.label :process_concentration, "Concentration"
          =f.text_field :process_concentration
    %fieldset.fieldset
      %legend Professions
      -@professions.each do |profession|
        =check_box_tag "ingredient[profession_ids][]", profession.id, f.object.professions.include?(profession)
        =profession.name
        %br.show-for-small-only/
    %fieldset.fieldset
      %legend
        Seasons
        %a{"data-open": "keyModal"}
          %i.fa.fa-key
      -@seasons.each do |season|
        =check_box_tag "ingredient[season_ids][]", season.id, f.object.seasons.include?(season)
        =season.name
        %br.show-for-small-only/
    %fieldset
      =f.label :staff_notes, "Staff Notes"
      =f.text_area :staff_notes
  .form-actions
    =f.submit "Save", class: "button"
.reveal#keyModal{"data-reveal": ""}
  %table.hover.stack
    %thead
      %tr
        %th Name
        %th Equivalent
    %tbody
      -@seasons.each do |season|
        %tr
          %td= season.name
          %td= season.equivalent
  %button.close-button{"data-close": "", "aria-label": "Close modal", "type": "button"}
    %span{"aria-hidden": "true"}
      &times;
