-content_for :title do
  Terres Rising: Staff
.row
  .small-12.columns
    %h1.text-center Terres Rising Staff
.row
  -staff_profiles.each do |profile|
    .small-12.medium-6.large-4.columns.end
      .card
        .card-divider.text-center
          %h2= profile.user.full_name
        .card-section.text-center
          -if profile.picture.present?
            =image_tag(profile.picture.url, alt: "Picture of #{profile.user.full_name}")
          %h2= profile.title
        -if profile.responsibilities.present?
          .card-section
            =raw @markdown.render(profile.responsibilities)
        %hr/
        -if profile.blurb.present?
          .card-divider
            =raw @markdown.render(profile.blurb)
            %p.text-right
              =link_to new_staff_message_path(profile.user) do
                %i.fa.fa-envelope
                Contact
