.row
  .small-12.columns
    %nav.top-padded{"aria-label": "You are here:", role: "navigation"}
      %ul.breadcrumbs
        %li
          =link_to "Users", admin_users_path
        %li
          =link_to @character.user.handle, admin_user_path(@character.user)
        %li
          =link_to "Characters", admin_characters_path
        %li
          =link_to @character.name, admin_user_character_path(@character.user, @character)
        %li
          %span.show-for-sr Current:
          Edit Inventory
    %h1.margin-bottom-none.text-center
      =@character.name
    %h3.text-center
      Edit Inventory
    =form_for [:admin, @character] do |f|
      .form-inputs
        =f.fields_for :inventories do |b|
          .row
            .small-3.medium-2.columns
              %fieldset
                =b.label :quantity, "Quantity"
                =b.number_field :quantity
            .small-9.medium-10.columns
              %fieldset
                =b.label :ingredient_id, "Component"
                =b.select :ingredient_id, options_from_collection_for_select(@components, "id", "name")
        .form-actions
          =f.submit "Add", class: "button"
