.row
  .small-12.columns
    %h1.text-center Users
    %table.hover.stack.datatables
      %thead
        %tr
          %th Username
          %th Email
          %th Staff
      %tbody
        -@users.each do |user|
          %tr
            %td= link_to user.label, staff_user_path(user)
            %td= link_to user.email, "mailto:#{user.email}"
            %td
              -if user.staff?
                %i.fa.fa-star
              =user.staff?
