-content_for :title do
  Terres Rising: Event Registration
.row
  .small-12.medium-11.large-10.small-centered.columns
    %h1.text-center.top-padded Event Registration
    =form_for @receipt, data: { "stripe-publishable-key": @stripe_publishable_key } do |f|
      .form-inputs{ data: { equalizer: "" } }
        .row
          .small-12.medium-4.large-5.columns
            %fieldset.fieldset{ data: { equalizer: { watch: "" } } }
              %legend Events
              -@events.each do |event|
                %p.margin-bottom-none
                  =check_box_tag "receipt[event_ids][]", event.id, nil, class: "event_check_box", data: { price: event.price }
                  ="#{event.name} ($#{event.price})"
              .callout.margin-bottom-none.text-right
                %strong Total:
                %span#total $0
          .small-12.medium-8.large-7.columns
            %fieldset.fieldset{ data: { equalizer: { watch: "" } } }
              %legend Contact Information
              =f.telephone_field :phone, placeholder: "Phone Number"
              =f.text_field :street, placeholder: "Street Address"
              .row
                .small-12.large-7.columns
                  =f.text_field :city, placeholder: "City/Town"
                .small-12.medium-4.large-2.columns
                  =f.text_field :state, placeholder: "MA"
                .small-12.medium-8.large-3.columns
                  =f.text_field :zip, placeholder: "Zip"
        %fieldset
          =f.label :report, "Please let us know about any allergies, medical conditions, and food requirements"
          =f.text_area :report
      .row
        .small-12.medium-7.large-9.columns
          %fieldset
            =f.label :character
            =f.collection_select :character_id, current_user.characters.by_name, :id, :name, {  include_blank: true }, class: "margin-bottom-none"
            %p
              To add characters to your account,
              =link_to "click here.", new_character_path
          %fieldset
            %label#card-label
              Payment Information
              #card-element
              %span.form-error#card-errors
      .form-actions
        =f.submit "Register", class: "button"
        &nbsp;
        =link_to "I would like to pay at the door", new_cash_booking_path
%script{src: "https://js.stripe.com/v3/"}
