.row.top-padded
  -@components.each do |component|
    .small-12.medium-3.large-2.columns.text-center
      =link_to staff_component_path(component) do
        .callout.primary.small
          =image_tag(component.picture.thumb.url, alt: "Thumbnail Picture of #{component.name}", class: "thumbnail margin-bottom-none")
          %div
            =component.name
