-content_for :title do
  Terres Rising: Upcoming Events
.row
  .small-12.columns
    %h1.text-center
      Terres Rising
      -if user_signed_in? && current_user.staff? && current_user.editor?
        =link_to new_staff_event_path do
          %i.fa.fa-calendar-plus-o
    -if @events.empty?
      %h2.text-center No events currently scheduled.
      %p.text-center Check back soon!
    -else
      %h2.text-center Upcoming Events
      -@events.each do |event|
        .row
          .small-11.medium-7.large-5.small-centered.columns
            .callout.primary
              -if user_signed_in?
                -if event.users.include?(current_user)
                  %span.badge.float-right
                    %i.fa.fa-check
              %h3.text-center=link_to event.name, event_path(event)
              %strong
                %p.text-center= event.date
              -if user_signed_in?
                -if current_user.staff?
                  -unless event.users.empty?
                    =link_to staff_event_bookings_path(event) do
                      %i.fa.fa-users
                      Registrations
      %h4.text-center
        =link_to "Event Registration", new_booking_path
