.text-center.top-padded
  =link_to admin_characters_path, class: "button" do
    %h2
      %i.fa.fa-users{"aria-hidden": "true"}
      Characters
  %br/
  =link_to admin_components_path, class: "button" do
    %h2
      %i.fa.fa-cubes{"aria-hidden": "true"}
      Components
  %br/
  =link_to admin_users_path, class: "button" do
    %h2
      %i.fa.fa-id-card{"aria-hidden": "true"}
      Users
