.row
  .small-11.medium-9.large-7.small-centered.columns
    .stacked.button-group
      =link_to staff_characters_path, class: "button" do
        %h2
          %i.fa.fa-users{ aria: { hidden: "true" } }
          Characters
      =link_to staff_components_path, class: "button" do
        %h2
          %i.fa.fa-cubes{ aria: { hidden: "true" } }
          Components
      =link_to staff_pictures_path, class: "button" do
        %h2
          %i.fa.fa-picture-o{ aria: { hidden: "true" } }
          Component Visual Dictionary
      =link_to staff_professions_path, class: "button" do
        %h2
          %i.fa.fa-briefcase{ aria: { hidden: "true" } }
          Professions
      =link_to staff_profiles_path, class: "button" do
        %h2
          %i.fa.fa-id-badge{ aria: { hidden: "true" } }
          Staff Profile
      =link_to staff_users_path, class: "button" do
        %h2
          %i.fa.fa-id-card{ aria: { hidden: "true" } }
          Users
      =link_to bank_accounts_path, class: "button" do
        %h2
          %i.fa.fa-diamond{ aria: { hidden: "true" } }
          Bank Of Derrickham
      =link_to staff_recipes_path, class: "button" do
        %h2
          %i.fa.fa-flask{ aria: { hidden: "true" } }
          Alchemical Recipes
