.text-center.top-padded
  =link_to staff_characters_path, class: "button" do
    %h2
      %i.fa.fa-users{"aria-hidden": "true"}
      Characters
  %br/
  =link_to staff_components_path, class: "button" do
    %h2
      %i.fa.fa-cubes{"aria-hidden": "true"}
      Components
  %br
  =link_to staff_pictures_path, class: "button" do
    %h2
      %i.fa.fa-picture-o{"aria-hidden": "true"}
      Component Visual Dictionary
  %br/
  =link_to staff_users_path, class: "button" do
    %h2
      %i.fa.fa-id-card{"aria-hidden": "true"}
      Users
