-content_for :title do
  MyCrossroads: My Characters
.row
  .small-12.columns
    %h1.text-center My Characters
    %p.text-center= link_to "Add New Character", new_character_path, class: "button"
    %table.hover.stack.datatables
      %thead
        %tr
          %th Name
          %th Race
      %tbody
        -@characters.each do |character|
          %tr
            %td= link_to character.name, user_character_path(character.user, character)
            %td= character.race.titleize

