.row
  .small-12.columns
    %h1.text-center.top-padded My Characters
    %p.text-center= link_to "Add New Character", new_character_path, class: "button"
    %ul
      -@characters.each do |character|
        %li
          =link_to character.name, user_character_path(current_user, character)
          =link_to edit_user_character_path(current_user, character) do
            %i.fa.fa-pencil-square-o{"aria-hidden": "true"}
