@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header-font {
  font-family: 'Cormorant Unicase', 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.larger {
  font-size: larger;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-top-two {
  margin-top: 2rem;
}

.top-padded {
  padding-top: 1rem;
}

span.small {
  font-size: 0.875rem;
  line-height: 1.8;
}

#character_history, #component_staff_notes, #event_directions, #receipt_report {
  height: 17rem;
}

#map_canvas {
  height: 30rem;
}
