.linkBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
}

.linkBar li {
  color: #008CBA;
  font-size: 24px;
  float: left;
  padding-right: 10px;
  width: 25%;
}

.mainDiv {
  height: 30rem;
  font-family: fantasy;
  font-size: 1.2rem;
}

.banner {
  font-size: 36px;
  text-align:center;
  font-weight: bolder;
  font-family: trebuchet, helvetica, arial, sans-serif;
}

.bannerRow{
  margin-bottom: 2px;
}

.buttons{
  float: left;
  font-size: 16px;
  font-weight: bolder;
}
.row{
  margin-left: 10px;
}
