.recipeHeader {
  text-align: center;
}
.recipeSpanLabels {
  font-weight: bold;
}
.recipeSpanDetail {
  margin-right: 10px;
}
.recipeIngredients {
  margin-bottom: 10px;
  font-size: 22px;
}
.recipeDescription {
  font-size: 24px;
}
