%tr
  %td
    %fieldset
      =form.number_field :quantity, class: "text-right"
  %td.text-center
    =form.select :ingredient_id, options_from_collection_for_select(@components, 'id', 'name')
  %td.text-center
    %fieldset
      =form.check_box :primary
  %td.text-center
    %fieldset
      =form.check_box :secondary
  %td.text-center
    %fieldset
      =form.check_box :tertiary
