.row
  .small-12.columns
    %nav{"aria-label": "You are here:", role: "navigation"}
      %ul.breadcrumbs
        %li
          =link_to "Events", events_path
        %li
          =link_to @event.name, event_path(@event)
        %li
          %span.show-for-sr Current:
          Registrations
    %h1.text-center
      =@event.name
      Registrations
    %table.hover.stack.datatables
      %thead
        %tr
          %th Date/Time
          %th User
          %th Email
          %th Character
          %th Paid?
      %tbody
        -@event.bookings.each do |booking|
          %tr
            %td= booking.created_at.to_s(:db)
            %td= link_to booking.user.handle, staff_user_path(booking.user)
            %td= link_to booking.user.email, "mailto:#{booking.user.email}"
            %td
              -if booking.character.present?
                =link_to booking.character.name,  staff_user_character_path(booking.character.user, booking.character)
            -if booking.paid?
              %td.text-center{ data: { order: booking.paid?, search: "paid" } }
                =link_to staff_receipt_path(booking.receipt) do
                  %i.fa.fa-check-circle
            -else
              %td.text-center{ data: { order: booking.paid? } }
                %i.fa.fa-times-circle
